body{
    background-color: #fba4a6;
    color:white;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
.container{
  
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    .nav{
        display:flex;
        flex-direction: row;
        .leftNav{
        display:flex;
           flex-basis:60%;
        }
        .rightNav{
        display:flex;
          flex-basis:40%;
          justify-content: space-between;
        }
    }
    .middle{
        display: flex;
        flex-direction: row;
        margin-top:15vh;
        .middleLeft{
            display: flex;
            flex-direction: column;
            flex-basis:40%;
            align-items:baseline;
            justify-content: center;
        }
        .middleRight{
            display: flex;
            flex-basis:60%;
            justify-content: flex-start;
            align-items: baseline;
        }
    }
    .bottom{
        display: flex;
        align-items:flex-start;
        .btn{
            h3{
                color:white;
            }
            background-color: #f44336;
            border-radius: 8px;
            padding: 12px;
        }
       
    }
  
}
@media screen and (min-width:576px) and (max-width:768px){
    .container{
        margin-left:0px;
    }
}
@media screen and (max-width:575px) {
    .container{
        margin-left:0px;
    }
    .rightNav{
        opacity: 0;
    }
    .middle{
        flex-direction: column;
    }
}