body {
  color: white;
  background-color: #e4e2de;
}
.elementdiv1 {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  //customing the user messages
//styling for the sender
  .border-circle {
    border-radius: 50%;
    border: 2px solid blue;
    padding: 5px;
    margin-right: 10px;
    color: #4caf50;
  }
//styling for the receiver
  .border-square {
    border: 2px solid red;
    padding: 5px;
    margin-right: 10px;
    color: grey;
  }
  //styling for the user message
  .userMessage {
    border: 2px solid #4caf50;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    color: #4caf50;
    margin-left: 5em;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Set container height to fill the viewport
//styling for the header
  .header {
    background-color: #00a884;
    text-align: center;
    padding: 10px;
  }
//styling for the chats
  .chat {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 60vh;
    padding: 10px;
    background-color: #e4e2de;
    &::-webkit-scrollbar {
      width: 20px;
    }


    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px green;
      border-radius: 10px;
    }

    // Handle 
    &::-webkit-scrollbar-thumb {
      background: green;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darkgreen;
    }
  }

  .inputMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
//input button
    #msginput {
      width: 80%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
    }
//send message button
    #sendMessage {
      width: 15%;
      background-color: #00a884;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
    }
  }

}
